[submodule "st"]
	path = st
	url = https://git.suckless.org/st
[submodule "dmenu"]
	path = dmenu
	url = https://git.suckless.org/dmenu
[submodule "tabbed"]
	path = tabbed
	url = https://git.suckless.org/tabbed
[submodule "scroll"]
	path = scroll
	url = https://git.suckless.org/scroll
[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule "surf"]
	path = surf
	url = https://git.suckless.org/surf
